/* 
---------Table of Contents------------
--1 base(mobile)
    1.1 buttons
    1.2 links
--2 desktop
 */


*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Open Sans',   sans-serif;
    font-family: 'Poppins',     sans-serif;
}
body{
    flex-direction: column;
    display: flex;
    flex-direction: column;
    background-image:url("images/bg-mobile.svg") ;
    background-color:  hsl(257, 40%, 49%) ;
    background-size: contain;
background-repeat: no-repeat;
    margin: 8% 8%;
    height: 100vh;
    width: auto;
    flex-direction: column;
    

}

.main-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100;
    height: auto;
    gap:.5rem;
    /* border: 1px solid black */
}
.desktop{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: auto;
    width: 100;


}
header-nav{
    display: block;
}
.nav-header-logo{
    position: relative;
    height: 2rem;
    width: auto;
    background-size: auto;
    background-repeat: no-repeat;

}
.product-mockups{
    position: relative;
    height: auto;
    width:100%;
    background-repeat: no-repeat;
    margin:10% 0;
}

.side-2 h1{
    font-family: poppins;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.5rem;
    /* text-align: center; */
    margin-top: 20px;
    margin-bottom: 1.5rem;
    color: white;

}
.main-content{
    color: white;
    font-family: open sans;
    font-weight: 400;
    line-height: 1.8rem;
    text-align: center;
    margin:0%;
    margin-top:1rem;
}
/* ----------button------------ */
button{
    margin: 20px;
    height: 40px;
    width: 60%;
    border-radius: 20px;
    border: none;
    color:purple
}
/* -----------links------------- */

.socialmedia-links{
    display: flex;
    justify-content: center;
    position: relative;
    height: .85rem;
    /* width: .85rem; */
    gap:1.2rem;
    margin:0 auto;
    margin-top: 15%;
}
.socialmedia-links img{
    aspect-ratio: 1;
    outline: 1px black solid;
    outline-offset: 5px;
    border-radius: 100%;
    filter:invert(100%);
 

}
.attribution {
    text-decoration: none;
    color:inherit;
    padding-top: 5%;
    text-align: center; 
    font-size: 11px;
}
a:link{
    text-decoration: none;
    color:inherit;
    color: hsl(228, 45%, 44%);
}
a:visited{
    color: #aeaeae ;
}
a:hover{
    color:#e4e4e4;
}
a:active{
}


/* -------------2 desktop------------ */
@media screen and (min-width: 800px) {
    body{
        background-image:url("images/bg-desktop.svg") ;
        background-color:  hsl(257, 40%, 49%) ;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 3% 5%;
        height: 100vh;
        width: auto;
        max-width: 1140px;

        flex-direction: column;
        
        }
    .nav-header-logo{
        position: relative;
        height: 3.2rem;
        width: auto;
        background-size: auto;
        background-repeat: no-repeat;
    
    }

    .main-content{
        display:flex;
        flex-direction: row;
        /* justify-content: center; */
   
        gap:3.5rem;

    }

    .product-mockups{
        position: relative;
        height: auto;
        width:100%;
        margin:0 0;
        margin-top: 10%;
        background-size: auto;
        background-repeat: no-repeat;
    }

    button{
        align-self: flex-start;
        text-align: center;
        width: 50%;
        margin:0;
    }

   .side-1{
        flex:1;
        min-width: 50%;

   }
   .side-2{
    display: flex;
    flex-direction: column;
    flex:1;
    gap:25px;
    box-sizing: border-box;
    padding-bottom:3%;

    }
   .side-2 h1{
        /* max-width: 420px; */
        font-size: 2.5rem;
        line-height: 3.8rem;
   }
   .side-2 h1, p{
        text-align: left;
        align-self: flex-start;
   }
   p{
    margin-top:0rem;
   }
  
   .socialmedia-links{
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
    margin-top: 3%;
   }
   .attribution{
    padding-top: 1%;
    text-align: right;
   }

}